<a href="https://colab.research.google.com/github/aliciafmachado/artgan_implementation/blob/master/Pedestrian_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pedestrians

In [0]:
# We will make a analysis about the kind os accidents that happen to pedesters
# They are part of x % of the accidents that happen

# import required libraries
import pandas as pd
import numpy as np

In [3]:
# Mounting drive
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [13]:
# Getting the dataframe that we will use to analyse
%cd "gdrive/My Drive/Colab Notebooks/INF442_P8"

[Errno 2] No such file or directory: 'gdrive/My Drive/Colab Notebooks/INF442_P8'
/content/gdrive/My Drive/Colab Notebooks/INF442_P8

In [107]:
df = pd.read_csv('dataframe.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232233 entries, 0 to 1232232
Data columns (total 30 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   num_acc  1232233 non-null  int64
 1   num_veh  1232233 non-null  object
 2   place    1232233 non-null  float64
 3   catu     1232233 non-null  int64
 4   grav     1232233 non-null  int64
 5   age      1232233 non-null  float64
 6   trajet   1232233 non-null  float64
 7   secu     1232233 non-null  float64
 8   locp     1232233 non-null  float64
 9   actp     1232233 non-null  float64
 10  etatp    1232233 non-null  float64
 11  an       1232233 non-null  int64
 12  lum      1232233 non-null  int64
 13  dep      1232233 non-null  int64
 14  agg      1232233 non-null  int64
 15  int      1232233 non-null  int64
 16  atm      1232233 non-null  float64
 17  col      1232233 non-null  float64
 18  catr     1232233 non-null  int64
 19  circ     1232233 non-null  float64
 20  nbv      1232233 non-null  float64
 21  vosp     1232233 non-null  float64
 22  plan     1232233 non-null  float64
 23  surf     1232233 non-null  float64
 24  infra    1232233 non-null  float64
 25  situ     1232233 non-null  float64
 26  catv     1232233 non-null  int64
 27  obs      1232233 non-null  float64
 28  choc     1232233 non-null  float64
 29  manv     1232233 non-null  float64
dtypes: float64(19), int64(10), object(1)
memory usage: 282.0+ MB

        num_acc num_veh  place  catu  grav  ...  situ  catv  obs  choc  manv
0  201800000001     B01    1.0     1     3  ...   1.0     3  2.0   3.0   1.0
1  201800000001     A01    1.0     1     1  ...   1.0     3  2.0   2.0  15.0
2  201800000002     A01    1.0     1     1  ...   1.0     3  1.0   0.0   1.0
3  201800000002     A01    1.0     3     4  ...   1.0     3  1.0   0.0   1.0
4  201800000003     A01    1.0     1     3  ...   1.0     2  2.0   1.0   1.0

[5 rows x 30 columns]

In [108]:
# First thing we swap 2 and 4 in grav to make more sense
df.replace({'grav': {2: -1}})
df.replace({'grav': {4: 2}})
df.replace({'grav': {-1: 4}})

              num_acc num_veh  place  catu  grav  ...  situ  catv   obs  choc  manv
0        201800000001     B01    1.0     1     3  ...   1.0     3   2.0   3.0   1.0
1        201800000001     A01    1.0     1     1  ...   1.0     3   2.0   2.0  15.0
2        201800000002     A01    1.0     1     1  ...   1.0     3   1.0   0.0   1.0
3        201800000002     A01    1.0     3     4  ...   1.0     3   1.0   0.0   1.0
4        201800000003     A01    1.0     1     3  ...   1.0     2   2.0   1.0   1.0
...               ...     ...    ...   ...   ...  ...   ...   ...   ...   ...   ...
1232228  201000069384     A01    1.0     1     4  ...   3.0     3  16.0   1.0   1.0
1232229  201000069385     B01    1.0     1     4  ...   1.0     1   2.0   1.0  21.0
1232230  201000069385     A01    1.0     1     1  ...   1.0     3   2.0   3.0  15.0
1232231  201000069386     B01    1.0     1     4  ...   1.0     1   2.0   1.0  17.0
1232232  201000069386     A01    1.0     1     1  ...   1.0     3   2.0   3.0   1.0

[1232233 rows x 30 columns]

In [109]:
df_pedestrians = df[df.catu == 3]
df_pedestrians_others = df[df.catu == 4]
df_p_all = pd.concat([df_pedestrians, df_pedestrians_others])
df_p_all

              num_acc num_veh  place  catu  grav  ...  situ  catv  obs  choc  manv
3        201800000002     A01    1.0     3     4  ...   1.0     3  1.0   0.0   1.0
13       201800000006     A01    1.0     3     3  ...   3.0     3  1.0   2.0   1.0
16       201800000008     A01    1.0     3     2  ...   1.0     3  1.0   2.0   1.0
30       201800000014     A01    1.0     3     3  ...   1.0     3  1.0   2.0   1.0
33       201800000016     A01    1.0     3     4  ...   1.0     3  1.0   7.0   1.0
...               ...     ...    ...   ...   ...  ...   ...   ...  ...   ...   ...
1230483  201000068546     A01    1.0     4     4  ...   1.0     3  1.0   2.0   2.0
1230883  201000068720     A01    1.0     4     4  ...   1.0     3  1.0   0.0   1.0
1230904  201000068729     A01    1.0     4     4  ...   1.0     3  1.0   0.0   1.0
1231142  201000068845     A01    1.0     4     3  ...   1.0     3  1.0   1.0   2.0
1231160  201000068855     A01    1.0     4     3  ...   1.0     3  9.0   2.0   0.0

[109496 rows x 30 columns]

In [0]:
df_p_year = []
for i in range(9):
  df_p_year.append(df_p_all[df_p_all.an == 10 + i])

In [118]:
# Some histogramas to analyse vehicules

print("Histograms for data of pedesters")
print()
print(df_p_all['catu'].value_counts())
print()
print(df_p_all['grav'].value_counts())
print()
print(df_p_all['age'].value_counts())
print()
print(df_p_all['locp'].value_counts())
print()
print(df_p_all['actp'].value_counts())
print()
print(df_p_all['etatp'].value_counts())
print()
print(df_p_all['an'].value_counts())
print()
print(df_p_all['lum'].value_counts())
print()
print(df_p_all['agg'].value_counts())
print()
print(df_p_all['int'].value_counts())
print()
print(df_p_all['atm'].value_counts())
print()
print(df_p_all['catr'].value_counts())
print()
print(df_p_all['circ'].value_counts())
print()
print(df_p_all['nbv'].value_counts())
print()
print(df_p_all['vosp'].value_counts())
print()
print(df_p_all['surf'].value_counts())
print()
print(df_p_all['infra'].value_counts())
print()
print(df_p_all['situ'].value_counts())
print()
print(df_p_all['catv'].value_counts())
print()

Histograms for data of pedesters

3    107376
4      2120
Name: catu, dtype: int64

4    63002
3    39668
2     4783
1     2043
Name: grav, dtype: int64

12.0     2538
16.0     2282
13.0     2244
11.0     2143
15.0     2120
         ...
105.0       2
102.0       2
104.0       2
101.0       2
103.0       1
Name: age, Length: 107, dtype: int64

2.0    25370
4.0    24696
3.0    23955
1.0    14865
0.0    10530
5.0     6682
6.0     2147
8.0     1134
7.0      117
Name: locp, dtype: int64

3.0    79021
9.0     7303
5.0     6347
1.0     6061
0.0     5553
2.0     2892
4.0     2070
6.0      249
Name: actp, dtype: int64

1.0    78610
2.0    20599
0.0     5801
3.0     4486
Name: etatp, dtype: int64

10    13232
11    13087
12    12368
14    12286
13    12037
15    11893
16    11831
17    11802
18    10960
Name: an, dtype: int64

1    78717
5    19325
2     6601
3     3903
4      950
Name: lum, dtype: int64

2    102050
1      7446
Name: agg, dtype: int64

1    78524
2    11639
3     9068
6     2397
9     2223
7     1980
5     1829
4     1523
8      281
0       32
Name: int, dtype: int64

1.0    87228
2.0    12018
8.0     3465
3.0     2786
7.0     2118
4.0      661
9.0      647
5.0      398
6.0      175
Name: atm, dtype: int64

4    76616
3    22920
2     3867
6     2521
9     2345
1      749
5      384
7       94
Name: catr, dtype: int64

2.0    66902
1.0    25079
0.0     8742
3.0     8287
4.0      486
Name: circ, dtype: int64

2.000000     58012
1.000000     21977
0.000000     13158
4.000000      7464
3.000000      6368
6.000000       987
5.000000       759
2.112762       486
8.000000       137
7.000000        87
10.000000       32
9.000000        19
11.000000        6
13.000000        2
12.000000        2
Name: nbv, dtype: int64

0.0    100107
3.0      5291
1.0      2482
2.0      1616
Name: vosp, dtype: int64

1.0    85615
2.0    18587
0.0     4122
9.0      326
5.0      322
7.0      312
3.0      102
4.0       58
8.0       30
6.0       22
Name: surf, dtype: int64

0.0    99743
5.0     4254
6.0     3474
2.0      722
4.0      633
1.0      335
3.0      310
7.0       25
Name: infra, dtype: int64

1.0    92784
0.0     6824
3.0     4966
4.0     3644
5.0      717
2.0      561
Name: situ, dtype: int64

3    86475
2    14028
4     4621
1     2596
5     1776
Name: catv, dtype: int64

Conlusion: measures for children and adolescents are really relevant and necessary.

When there are two ways in a road, there are greater chances of an accident happening.

The biggest danger for pedestrian are cars as expected, followed by motocycles and heavy vehicles.

People alone have more risks.

Relevant parameters for pedesters: num_acc, an, lum, agg, int, atm, catr, circ, nbv, vosp, surf, infra, situ, catu, grav, age, locp, actp, etatp

In [0]:
# Create the X
df_filtered = df[['num_acc', 'an', 'lum','agg', 'catu', 'age', 'locp', 'actp', 'etatp']].copy()
df_t = df_filtered[df_filtered.catu == 4]
df_filtered = df_filtered[df_filtered.catu == 3]
df_filtered = pd.concat([df_filtered, df_t])

# Create the y
df_grav = df[['num_acc', 'grav', 'catu']]
df_t = df_grav[df_grav.catu == 4]
df_grav = df_grav[df_grav.catu == 3]
df_grav = pd.concat([df_grav, df_t])

# creating initial dataframe

dum_df = pd.get_dummies(df_filtered, columns=["an", "lum", "agg", "catu", "locp", "actp", "etatp"], 
                        prefix=["an_is", "lum_is", "agg_is", "catu_is", "locp_is", "actp_is", "etatp_is"])

# dum_df_grav = pd.get_dummies(df_grav, columns=["grav"], prefix=["grav_is"])

In [121]:
import statsmodels.api as sm

X = dum_df ## X usually means our input variables (or independent variables)
y = df_grav['grav'] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an interctarget = pd.DataFrame(data.target, columns=["MEDV"])ept (beta_0) to our model

# Note the difference in argument order
model = sm.OLS(y, X).fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   grav   R-squared:                       0.089
Model:                            OLS   Adj. R-squared:                  0.088
Method:                 Least Squares   F-statistic:                     322.8
Date:                Sat, 16 May 2020   Prob (F-statistic):               0.00
Time:                        02:46:43   Log-Likelihood:            -1.0648e+05
No. Observations:              109496   AIC:                         2.130e+05
Df Residuals:                  109462   BIC:                         2.134e+05
Df Model:                          33
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const        -7.421e-05   3.72e-05     -1.995      0.046      -0.000   -1.31e-06
num_acc       1.653e-11   6.38e-14    259.111      0.000    1.64e-11    1.67e-11
age             -0.0044   7.96e-05    -55.233      0.000      -0.005      -0.004
an_is_10         0.0163      0.005      3.073      0.002       0.006       0.027
an_is_11        -0.0051      0.005     -0.964      0.335      -0.016       0.005
an_is_12         0.0115      0.005      2.125      0.034       0.001       0.022
an_is_13         0.0094      0.005      1.711      0.087      -0.001       0.020
an_is_14         0.0020      0.005      0.375      0.708      -0.009       0.013
an_is_15        -0.0075      0.006     -1.358      0.174      -0.018       0.003
an_is_16        -0.0296      0.006     -5.337      0.000      -0.040      -0.019
an_is_17        -0.0312      0.006     -5.617      0.000      -0.042      -0.020
an_is_18         0.0343      0.006      5.953      0.000       0.023       0.046
lum_is_1         0.1293      0.005     23.703      0.000       0.119       0.140
lum_is_2         0.0826      0.008     10.368      0.000       0.067       0.098
lum_is_3        -0.2375      0.010    -23.278      0.000      -0.257      -0.217
lum_is_4        -0.0581      0.017     -3.449      0.001      -0.091      -0.025
lum_is_5         0.0838      0.006     13.312      0.000       0.071       0.096
agg_is_1        -0.1623      0.004    -36.168      0.000      -0.171      -0.154
agg_is_2         0.1624      0.004     36.181      0.000       0.154       0.171
catu_is_3       -0.0065      0.007     -0.914      0.361      -0.020       0.007
catu_is_4        0.0065      0.007      0.922      0.357      -0.007       0.020
locp_is_0.0      0.0060      0.010      0.626      0.531      -0.013       0.025
locp_is_1.0     -0.0838      0.009     -9.632      0.000      -0.101      -0.067
locp_is_2.0      0.0253      0.008      3.032      0.002       0.009       0.042
locp_is_3.0      0.0890      0.009     10.380      0.000       0.072       0.106
locp_is_4.0      0.0873      0.009     10.215      0.000       0.071       0.104
locp_is_5.0      0.0053      0.010      0.512      0.609      -0.015       0.026
locp_is_6.0     -0.1340      0.015     -9.030      0.000      -0.163      -0.105
locp_is_7.0     -0.1182      0.053     -2.241      0.025      -0.222      -0.015
locp_is_8.0      0.1231      0.018      6.728      0.000       0.087       0.159
actp_is_0.0     -0.0413      0.011     -3.891      0.000      -0.062      -0.020
actp_is_1.0      0.0187      0.009      1.992      0.046       0.000       0.037
actp_is_2.0     -0.0084      0.012     -0.700      0.484      -0.032       0.015
actp_is_3.0      0.0622      0.007      9.090      0.000       0.049       0.076
actp_is_4.0      0.0935      0.014      6.842      0.000       0.067       0.120
actp_is_5.0      0.0537      0.010      5.610      0.000       0.035       0.072
actp_is_6.0     -0.2373      0.036     -6.653      0.000      -0.307      -0.167
actp_is_9.0      0.0589      0.009      6.576      0.000       0.041       0.076
etatp_is_0.0     0.0570      0.008      7.361      0.000       0.042       0.072
etatp_is_1.0     0.0469      0.004     11.399      0.000       0.039       0.055
etatp_is_2.0    -0.0599      0.005    -12.407      0.000      -0.069      -0.050
etatp_is_3.0    -0.0439      0.008     -5.654      0.000      -0.059      -0.029
==============================================================================
Omnibus:                    25844.007   Durbin-Watson:                   1.681
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            60270.549
Skew:                          -1.332   Prob(JB):                         0.00
Kurtosis:                       5.473   Cond. No.                     1.00e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  1e+16. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

We identify that there are factor that are more important to gravity.

We separate the columns that have more interesting results, that are: locp is 9.0, agg is 2, lum is 1, actp is 4. 

People with animals have less chances of having an accident that is hard.

In [127]:
X = dum_df[['locp_is_8.0', 'agg_is_2', 'lum_is_1', 'actp_is_4.0']] ## X usually means our input variables (or independent variables)
y = df_grav['grav'] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an interctarget = pd.DataFrame(data.target, columns=["MEDV"])ept (beta_0) to our model

# Note the difference in argument order
model = sm.OLS(y, X).fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   grav   R-squared:                       0.043
Model:                            OLS   Adj. R-squared:                  0.043
Method:                 Least Squares   F-statistic:                     1221.
Date:                Sat, 16 May 2020   Prob (F-statistic):               0.00
Time:                        02:48:12   Log-Likelihood:            -1.0918e+05
No. Observations:              109496   AIC:                         2.184e+05
Df Residuals:                  109491   BIC:                         2.184e+05
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const           2.9587      0.008    372.830      0.000       2.943       2.974
locp_is_8.0     0.0517      0.020      2.638      0.008       0.013       0.090
agg_is_2        0.5190      0.008     65.402      0.000       0.503       0.535
lum_is_1        0.0707      0.004     15.903      0.000       0.062       0.079
actp_is_4.0     0.0306      0.015      2.103      0.035       0.002       0.059
==============================================================================
Omnibus:                    24956.725   Durbin-Watson:                   1.641
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            53643.941
Skew:                          -1.329   Prob(JB):                         0.00
Kurtosis:                       5.166   Cond. No.                         15.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Another analysis

In [137]:
print()
print(pd.cut(df_p_all.age, bins=11, right=False).value_counts())
print()

[9.545, 19.091)      20746
[19.091, 28.636)     12091
[47.727, 57.273)     11422
[0.0, 9.545)         11286
[28.636, 38.182)     10346
[57.273, 66.818)     10168
[66.818, 76.364)     10139
[76.364, 85.909)      9493
[38.182, 47.727)      9316
[85.909, 95.455)      4342
[95.455, 105.105)      147
Name: age, dtype: int64